body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #F4F4F4;
}

.main {
  display: flex;
  height: fit-content;
  position: relative;
  gap: 27px;
}

.container {
  margin: 53.5px 100px 0 54.5px;
}